*.class
*.log

# make specific
sbtexists

# sbt specific
dist/
public/
target/
gh-pages/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
doc_site/

# Scala-IDE specific
.scala_dependencies

# Intellij specific cruft
.idea
*.iws
.history
.idea_modules
gen
out
tmp

# gulp generated
public
src/main/assets/sass/_sass-assets/

# node.js stuff
node_modules/
